*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
bosh_release/.final_builds/jobs/*/*.tgz
bosh_release/.final_builds/packages/*/*.tgz
bosh_release/releases/*.tgz
deployments
